.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // padding: 6rem;
  min-height: 100vh;
}
.section {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  padding: 80px 40px;
  position: relative;
  color: var(--color);
  background-color: var(--backgroundcolor);
  background-blend-mode: soft-light;
  background-image: linear-gradient(45deg, #000, #bb8e55);
  /* background-attachment: fixed; */

  a {
    color: inherit;
    &:after {
      background-color: inherit;
    }
  }
}

.clipwrapper {
  clip: rect(0, auto, auto, 0);
  clip-path: inset(0, auto, auto, 0);
}
.contactwrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip: rect(0, auto, auto, 0);
  clip-path: inset(0, auto, auto, 0);

  a {
    text-decoration: none;
    display: inline-block;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: var(--color);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.mdx {
  width: 60vw;
  margin: 0 auto;

  p {
    margin-bottom: 1rem;
  }

  ul,
  ol {
    padding-left: 1rem;
  }
}

.backbutton {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 10;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  fill: var(--color);
  line-height: 1rem;
  border-radius: 100px;

  svg {
    width: 30px;
    height: auto;
  }
}
